/* Таблица стилей */

/* Таблица стилей будет вынесена в отдельный файл для большей практичности. */

/* Сейчас основная задача — убрать поля, чтобы карта занимала всё доступное пространство веб-страницы. */


body,
html {
	margin: auto 0;
	width: 100%;
	height: 100%;
}

#mapid {
	width: 100%;
	height: 100%;
}
